<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/addItem.css' %}">
    </head>
    <body>
        <h1>Add Item</h1>
        <form class="IUForm" action="addItem" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="labels">
                <label for="title">Title: </label>
                <input type="text" name="title">
            </div>
            <div class="labelsArea">
                <label for="description">Description: </label>
                <textarea class="tArea" name="description"></textarea>
            </div>
            <div class="labels">
                <label for="price">Price: $</label>
                <input type="number" name="price">
            </div>
            <div class="imageUploadDiv">
                <div class="imageUpload">
                    {{ form.as_p }}
                </div>
                <button class="submit" type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>