<!DOCTYPE html>
{% extends 'main.html' %}
<html>
    <head>
        {% load static %}
        {% block content %}
        <link rel="stylesheet" href="{% static 'css/editItem.css' %}">

    </head>
    <body>
        <div id="wrapper">
            <div class="left">
                <h1>Title: {{item.title}}</h1>
                <h3>Description: {{item.description}}</h3>
                <h3>Price: ${{item.price}}</h3>
    
                <h2>Images:</h2>
    
                <div class="imgCol">
                        {% for num in item.imgNums %}
    
                        {% for pic in allImages %}
                        {% if num == pic.id %}
                        <img class="image" src="{{ pic.image.url }}">
                        {% endif %}
                        {% endfor %}
    
                        {% endfor %}
                    
                </div>
    
            </div>
            <div class="right">
                <form class="IUForm" action="addItem" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="labels">
                        <label for="title">Title: </label>
                        <input type="text" name="title">
                    </div>
                    <div class="labels">
                        <label for="description">Description: </label>
                        <textarea name="description"></textarea>
                    </div>
                    <div class="labels">
                        <label for="price">Price: $</label>
                        <input type="number" name="price">
                    </div>
                    <button class="submit" type="submit">Submit</button>
                </form>
    
                <form action="{{item.id}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="imageUploadDiv">
                        <div class="imageUpload">
                            {{ form.as_p }}
                        </div>
                        <button class="submit" type="submit">Submit</button>
                    </div>
                
                </form>
    
            </div>
        </div>
    </body>
    {% endblock content %}
</html>