<!DOCTYPE html>
{% extends 'main.html' %}

<html>
    <head>
        {% load static %}
        {% block content %}
        <link rel="stylesheet" href="{% static 'css/FAQ.css' %}">


    </head>
    <body>
        <!-- <div id="header">
            <div class="leftHead">
                <a href="/gallery" class="link">Gallery</a>
                <a href="" class="link">Courses</a>
            </div>
            <div class="border">
                <a href="/index"><img src="{% static 'images/IMG_1276.JPG' %}" class="centerHead"></a>
            </div>
            <div class="rightHead">
                <a href="" class="link">Gadgets</a>
                <a href="/contact" class="link">Contact</a>
                <a href="/FAQ" class="link">FAQ</a>
            </div>
        </div> -->
        <div class="quests">
            <h1 class="Title">Frequently Asked Questions</h1>
            <ul>
                <li>
                    <div class="question">
                        <h3 class="qTitle">Question number 1?</h3>
                        <p class="answer">Answer Here:-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officia explicabo laudantium odio sequi, animi at saepe officiis maiores corrupti quos mollitia necessitatibus dolor dolores libero alias omnis aliquid laborum!</p>
                    </div>
                </li>
                <li>
                    <div class="question">
                        <h3 class="qTitle">Question number 2?</h3>
                        <p class="answer">Answer Here:-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officia explicabo laudantium odio sequi, animi at saepe officiis maiores corrupti quos mollitia necessitatibus dolor dolores libero alias omnis aliquid laborum!</p>
                    </div>
                </li>
                <li>
                    <div class="question">
                        <h3 class="qTitle">Question number 3?</h3>
                        <p class="answer">Answer Here:-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officia explicabo laudantium odio sequi, animi at saepe officiis maiores corrupti quos mollitia necessitatibus dolor dolores libero alias omnis aliquid laborum!</p>
                    </div>
                </li>
                <li>
                    <div class="question">
                        <h3 class="qTitle">Question number 4?</h3>
                        <p class="answer">Answer Here:-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officia explicabo laudantium odio sequi, animi at saepe officiis maiores corrupti quos mollitia necessitatibus dolor dolores libero alias omnis aliquid laborum!</p>
                    </div>
                </li>
                <li>
                    <div class="question">
                        <h3 class="qTitle">Question number 5?</h3>
                        <p class="answer">Answer Here:-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officia explicabo laudantium odio sequi, animi at saepe officiis maiores corrupti quos mollitia necessitatibus dolor dolores libero alias omnis aliquid laborum!</p>
                    </div>
                </li>
                <li>
                    <div class="question">
                        <h3 class="qTitle">Question number 6?</h3>
                        <p class="answer">Answer Here:-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni officia explicabo laudantium odio sequi, animi at saepe officiis maiores corrupti quos mollitia necessitatibus dolor dolores libero alias omnis aliquid laborum!</p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
    {% endblock content %}

</html>